@model PagedList.IPagedList<ChurrascoManager.Models.Enrollment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">@AppSettings.SystemTitle</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Descri&ccedil;&atilde;o
        </th>
        <th>
            Nome
        </th>
        <th>
            Pago?
        </th>
        <th>
            Vai beber?
        </th>
        <th>
            Valor pago
        </th>
        <th>
            Oberva&ccedil;&atilde;o
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @if (item.Paid)
                {
                    <i class="glyphicon glyphicon-ok" />
                }
            </td>
            <td>
                @if (item.Drink)
                {
                    <i class="glyphicon glyphicon-ok" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))