@model ChurrascoManager.Models.Event

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">@AppSettings.SystemTitle</h1>

<h3 class="text-center">@Html.DisplayFor(model => model.Description)</h3>
<h4>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</h4>
<p>@Html.DisplayFor(model => model.Observation)</p>

<div class="col-md-offset-1 col-md-11">Valor de contribuição sugerido:</div>
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        Com bebida
    </div>
    <div class="col-md-6"><strong>R$ 30,00</strong></div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        Sem bebida
    </div>
    <div class="col-md-6"><strong>R$ 15,00</strong></div>
</div>
<br /><br />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">Número de participantes</div>
            <div class="col-md-9">@Html.DisplayFor(model => model.Enrollments.Count)</div>
        </div>
        <div class="row">
            <div class="col-md-3">Valor a ser arrecadado</div>
            <div class="col-md-9">R$ @Html.DisplayFor(model => model.Amount)</div>
        </div>
        <div class="row">
            <div class="col-md-3">Valor já pago</div>
            <div class="col-md-9">R$ @Model.Enrollments.Where(e => e.Paid).Sum(e => e.Amount)</div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">Total de bebuns</div>
            <div class="col-md-8">@Model.Enrollments.Count(e => e.Drink)</div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">Total de saud&aacute;veis</div>
            <div class="col-md-8">@Model.Enrollments.Count(e => !e.Drink)</div>
        </div>
    </div>
</div>

<h3>Participantes</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Contribuição</th>
            <th scope="col">Bebida</th>
            <th scope="col">Pago</th>
            <th scope="col">Observação</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Enrollments)
        {
            <tr>
                <td>@item.Person.Name</td>
                <td>@item.Amount</td>
                <td>@(item.Drink ? "Sim" : "Não")</td>
                <td><input type="checkbox" @(item.Paid ? "checked" : "") disabled="disabled" /> </td>
                <td>@item.Observation</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Enrollments", new { id = item.ID }, null) |
                    @Html.ActionLink("Detalhes", "Details", "Enrollments", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Enrollments", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
